.home-header {
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.search-header {
  display: flex;
  justify-content: center;
  background-color: #00A5E5;
}

.color-blue {
  color: #00A5E5 !important;
}

.txt-header {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  font-weight: lighter;
}

.btn-header {
  display: flex;
  align-items: center;
}

.ic-circular {
  width: 40px;
  height: 40px;
}

body {
  background-color: #F8F8F8;
}
