.home-header {
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    background-color: white;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;

  }
  100% {
    opacity: 0;

  }
}

.opac{
    opacity: 0.75;
    float: left;
    position: fixed;
    margin-left: 8px;
}

p{
    display: flex;
    float: left;
}

.search-header {
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    background-color: #1F2421;
    opacity: .8;
}
.txt-title {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: black;
    font-weight: 600;
}
.color-black {
    color: #1F2421 !important;
}

.message{
   display: inline-block;
}
.txt-header {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
    display: inline-block;
    font-weight: 300;
    margin-left: -12.75%;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
}

.tagline{
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
    display: inline-block;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    opacity: 0.75;
}

.txt-header .opac{
    opacity: 0.6;
    float: left;
}
.btn-header {
    display: flex;
    align-self: flex-end;
    font-size: 1em;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: white;
}
.ic-circular {
    width: 40px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 20px;
    color: white;
}

.ic-logo {
    height: 30px;
    margin-top: 8px;
    padding-right: 5px;
    padding-top: 5px;
    margin-right: 20px;
    color: white;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.white {
  color: white;
}

input[type="text"]
{
    background: transparent;
    border: none;
    float: left;
    margin: 0;
   padding: 0;
}
