conn_str = "dbname=\'bruinmeet_db\' user=\'bruinmeet_db_user\' password=\'bruinmeet_db_user_pass\' host='\localhost\'"

# salt for generating cookies
id_key = "INSERT_YOUR_OWN_KEY_HERE"

# salt for Django cookie setting
uID_salt = "INSERT_A_DIFFERENT_KEY_HERE"

# salt for storing passwords in database
pass_salt = "INSERT_ANOTHER_KEY_HERE"
