.home-header {
  background-color: #00A5E5;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.home-logo {
}

.btn-add {
  display: flex;
}

.ic-add {
  width: 50px;
}

body {
  background-color: #F8F8F8;
}
